footer{
    width:100%;
}

.footer-link{
    text-decoration:none;
    color:white;
    display:block;
    margin-bottom:8px;
}

.footer-link:hover{
    color:#ffc107;
}

h5{
    margin-bottom:15px;
}